/* core values images start */
 .core-vlaue{
   padding-left: 10%;
 }
  
  #center-content{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .column-first {
    float: left;
    width: 45%;
    padding-left: 20%;
  }
  
  /* Clearfix (clear floats) */
  .row-first::after {
    content: "";
    clear: both;
    display: table;
  }


  .column-second {
    float: left;
    width: 39.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row-second::after {
    content: "";
    clear: both;
    display: table;
  }

  /* core values images ends */



.bckgrnd{
  position: relative;
  width: 100%;
}


.of {
  object-fit: cover;
  /*
  object-fit: scale-down;
  object-fit: contain;
  object-fit: fit;
  */
}


.back-cont{
  background-color: #b6b3b3b4;
  padding: 5px 5px 5px 5px;
}





.column-test {
  float: left;
  width: 43.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row-test::after {
  content: "";
  clear: both;
  display: table;
}
  

/* custome heading text use in services page */

.custome-text{
  font-weight: 500;
  font-size: 18px;
  padding-left: 5px;
  font-family: 'Raleway' ;


}